<!DOCTYPE html>
<html>

<head>
  <script>document.write('<base href="' + document.location + '" />');</script>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <title>PrimeNG Harmony</title>
</head>

<body class="login-body" style="min-height: 100vh;">
  <div class="logo">
    <img src="../../../../assets/styles/layout/images/harmony-logo.png" alt="harmony-layout" />
    <span class="app-name">HARMONY</span>
  </div>

  <div class="login-panel">
    <img src="../../../../assets/styles/layout/images/template/image-login-mobile.jpg" alt="harmony-layout" class="mobile" />

    <router-outlet></router-outlet>

    <div class="right-part">
      <img src="../../../../assets/styles/layout/images/template/image-login.png" alt="harmony-layout" />
    </div>
  </div>

</body>

</html>
